.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}

/* ここから下がボタンのCSS　*/
.btn-icon {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #33CC99;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 32px 8px 32px;
  border-radius: 40px;


/* padding 上 右 下 左　*/

/* □表示　*/
  position: relative;
}

.btn-icon:hover {
  opacity: 0.7;
}



*/
.btn-icon:before {
  font-family: "FontAwesome";
  content: "☑";/* 好きなフォントアイコンを　*/
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}
*/

